body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    background-color: #3D313F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    padding: 0.4rem;
    color: #EDEDF4;
    display: flex;
    background-color: rgb(122, 109, 109, 0.479);
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 8%;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: #3D313F;
    background-color: #EDEDF4;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
h1{
    font-size: 40px;
    text-align: center;
}
#tabla-lote{
    border-collapse: collapse;
    background-color: #EDEDF4;
    width: 70%;
    text-align: center;
    margin: auto;
}
#tabla-lote thead{
    border: 1px solid #000;
    font-size: 25px;
}
#tabla-lote th{
    padding: 10px;
    background-color: #7A7A7B;
}
#tabla-lote tr, td{
    border: 1px solid #000;   
}
#tabla-lote td{
    padding: 10px;
}
.div-tabla{
    margin: auto;
    width: 60%;
    margin-top: 5%;
    background-color: #A8B0AC;
    padding: 60px 0px 60px 0px;
    border-radius: 10px;
}
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(122, 109, 109, 0.479);
}

@media screen and (max-width: 600px) {
    .logo{
        width: 10%;
    }
    h1{
        font-size: 20px;
    }
    nav ul li a{
        padding: 5px;
        font-size: 12px;
    }
}