body{
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0;
    background-color: #3D313F;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    padding: 0.4rem;
    color: #EDEDF4;
    display: flex;
    background-color: rgb(122, 109, 109, 0.479);
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 8%;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: #3D313F;
    background-color: #EDEDF4;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
h1{
    font-size: 40px;
    text-align: center;
}

.div-tabla{
    background-color: #A8B0AC;
    margin: auto;
    width: 40%;
    padding: 2rem;
    margin-top: 5%;
    border-radius: 10px;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    font-size: 20px;
    text-align: center;
}
.title-table{
    border-bottom: 1px solid #000;
}
th{
    background-color: #7A7A7B;
    padding: 10px;
    border-bottom: 1px solid #000;
}
td{
    padding: 10px;
    border-bottom: 1px solid #000;
}
.completo{
    background-color: rgba(51, 191, 51, 0.601);
}
.parcial{
    background-color: rgb(255, 204, 110);
}
.pendiente{
    background-color: rgb(203, 203, 203);
}
.agrega-pedido{
    width: 30%;
    margin: auto;
    margin-top: 1%;
    border-radius: 10px;
    border: 1px solid black;
}
.box-button-tittle{
    width: 40%;
    margin: auto;
    margin-top: 2%;
    background-color: #A8B0AC;
    border-radius: 10px;
    border: 1px solid black;
    padding: 1rem;
}
.ingresar-paquete{
    width: 80%;
    text-align: center;
    margin: auto;
    background-color: #7A7A7B;
    border-radius: 10px;
    border: 1px solid black;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    height: 4rem;
}
.boton-cliente-paquete{
    width: 40%;
    margin: auto;
    height: 4rem;
    border-radius: 10px;
    border: 1px solid black;
}
h2{
    text-align: center;
    margin-top: 2%;
}
button{
    margin-left: 10%;
    padding: 5px;
    width: 45%;
}
button a{
    text-decoration: none;
    color: #000;
}
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(122, 109, 109, 0.479);
}

@media screen and (max-width: 600px) {
    .logo{
        width: 10%;
    }
    h1{
        font-size: 20px;
    }
    nav ul li a{
        padding: 5px;
        font-size: 12px;
    }
}