body {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #3D313F;
    color: #EDEDF4;
    min-height: 100vh;
}

.logo {
    width: 7vw;
    height: 7vw;
    display: flex;
    align-items: center;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {

    background-color: rgb(122, 109, 109, 0.479);
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-flow: row wrap;
}

#article {
    flex: 1;
}

.menu {
    padding: 8px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 20px;
}

nav ul li a:hover {
    background-color: rgb(122, 109, 109, 0.479);
}

.login-2 p{
    width: 20%;
    margin: auto;
    background-color: #7A7A7B;
    color: #EDEDF4;
    text-align: center;
    padding: 0.8rem;
    border-radius: 10px;
    font-size: 18px;
    margin-top: 3%;
}
.login-2 {
    text-decoration: none;
}
#slogan {
    font-size: 160%;
    margin-left: 5%;
    text-align: justify;
    padding: 2rem;
    background-color: #EDEDF4;
    color: #3D313F;
    border: 1px solid #EDEDF4;
    border-radius: 10px;
}
#article{
    width: 80% ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-top: 5%;
}
.camion {
    width: 20%;
    
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
    text-align: center;
    margin-top: 100px;
    background-color: rgb(122, 109, 109, 0.479);
}
@media screen and (max-width: 600px){
    .logo{
        width: 8vw;
        height: 8vw;
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 22px;
    }
    header{
        padding: 1rem;
    }
    nav ul li a{
        padding: 5px;
        font-size: 15px;
    }
    .camion{
        width: 0%;
    }
    #article{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 5%;
    }
    #slogan{
        font-size: 20px;
        width: 80%;
        text-align: center;
        padding: 0.8rem;
    }
    .login-2 p{
        width: 50%;
        margin: auto;
        background-color: #7A7A7B;
        color: #EDEDF4;
        text-align: center;
        padding: 0.8rem;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 3%;
    }
    .login-2 {
        text-decoration: none;
    }
    footer{
        padding: 1rem;
    }
}
@media screen and (min-width: 601px) and (max-width: 900px){
    .logo{
        width: 8vw;
        height: 8vw;
        display: flex;
        align-items: center;
    }
    h1{
        font-size: 25px;
    }
    header{
        padding: 1rem;
    }
    nav ul li a{
        padding: 5px;
        font-size: 18px;
    }
    .camion{
        width: 0%;
    }
    #article{
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
        margin-top: 5%;
    }
    #slogan{
        font-size: 20px;
        width: 80%;
        text-align: center;
        padding: 0.8rem;
    }
    .login-2 p{
        width: 50%;
        margin: auto;
        background-color: #7A7A7B;
        color: #EDEDF4;
        text-align: center;
        padding: 0.8rem;
        border-radius: 10px;
        font-size: 18px;
        margin-top: 3%;
    }
    .login-2 {
        text-decoration: none;
    }
    footer{
        padding: 1rem;
    }
}
* {
    margin: 0;
}